//fonts

$font-h:    'Canela-Medium';
$font-b:    -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

//colors

$primary-color: #354247;
$primary-color-muted: #5f686c;

$secondary-color: #7D8A90;
$secondary-color-hovered: rgb(99, 110, 114);